@import "./theme.scss";

body {
	margin: 0px;
}

#AppWrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
.content-wrapper {
	flex: 1;
}

/* Table */
#Buildings {
    & th {
        padding: 12px 0px;
        border-top: 1px solid #dee2e6;
        border-bottom: 1px solid #dee2e6;
    }
    & td {
        padding: 12px 0px;
        border-top: 1px solid #dee2e6;
        border-bottom: 1px solid #dee2e6;
    }
    & td:first-child {
        border-left: 1px solid #dee2e6;
    }
    & td:last-child {
        border-top: none !important;
        border-bottom: none !important;
    }
}

.add-row {
    margin-right: 20px;
}

button:focus {
    box-shadow: none !important;
}

/* Modal window */
.modal-form input {
    min-width: 150px !important;
}
 

