// @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;800&family=Roboto:wght@300;400;500;700&display=swap');


$enable-rounded: false; 
$enable-responsive-font-sizes: true;


/*colors*/
$themePrimary: #58617E; 
$themeSecondary: #C34A36;
$themeLight: rgba(244,244,244,0.8);
$themeWhite: #FFFFFF;
$themeGray: #6c757d;
$themeDark: #353535;
$themeInfo: #e5f3f9;
$themeBlue: #004a98;
$theme-colors: (
    "primary": $themePrimary,
    "secondary": $themeSecondary, 
    "gray": $themeGray,
    "info": $themeInfo,
    "light": rgba($themeLight, 0.95),
    "white": $themeWhite,
    "dark": $themeDark,
    "blue": $themeBlue
);

/*Typography*/
// $font-family-sans-serif: 'Open Sans', sans-serif;
// $font-family-sans-serif: 'Montserrat', sans-serif;
$font-family-sans-serif: 'Roboto',serif;
// $font-family-base: $font-family-sans-serif;
$font-family-base: $font-family-sans-serif;


$body-color: $themePrimary;

$font-weight-lighter: 300;
$font-weight-light: 400;
$font-weight-normal: 500;
$font-weight-bold: 600;
$font-weight-bolder: 700;    


$font-size-base: 1rem * 0.875;
$font-weight-base: $font-weight-normal;
$font-color-base: $themePrimary;
$h1-font-size: $font-size-base * 2.5;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.7143; 
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.14286;
$h6-font-size: $font-size-base * 1;
$small-font-size: $font-size-base * 0.857;


$display-font-sizes: (
    1: $font-size-base * 8.572,
//   2: $font-size-base * 4.5,
    3: $font-size-base * 3.8,
//   4: 3.5rem,
//   5: 3rem,
//   6: 2.5rem
);

// $display4-size: $font-size-base * 2.03;

// $lead-font-weight: $font-weight-light;
// $display1-weight: $font-weight-medium;
// $display4-weight: $font-weight-normal;
// /*Links and buttons*/
// $link-color: $themeSecondary;
// $btn-padding-y: 0.6rem;
// $btn-padding-x: 4.2rem;
// $btn-border-width: 2px;
// $btn-font-size: 1rem;
// /*Navbar*/
// $navbar-light-color: $themePrimary;
// $navbar-light-hover-color: $themePrimary;
// $navbar-light-active-color: $themePrimary;
// $navbar-padding-y: 1rem;
// $navbar-nav-link-padding-x: 0;
// $navbar-brand-padding-y: 0.4rem;
// $dropdown-min-width: 4rem;
/*hr*/
$hr-color: $themeGray;
$hr-opacity: 0.6;
$hr-height: 1.28px;
/*$hr-margin-y: 1.875rem;*/
// /*inputs*/
// $input-border-color: $themePrimary;
// $input-border-width: 2px;
// $input-padding-y: 1.1rem;
// $input-padding-x: 1.375rem;
// $input-disabled-bg: #ffffff;
// $custom-select-border-color: $themePrimary;
// $custom-select-border-width: 2px;
// $custom-select-indicator-color: $themePrimary; 


/*Typography*/
h2, h3, h4, h5, h6, .h2, .h3, .h4, .h5, .h6, 
.display-1, .display-2, .display-3, .display-4  {
    font-family: $font-family-sans-serif;
    font-weight: 600 !important;
}

$border-radius-lg: 0.875rem;
$border-widths: (
    // 1: 1px,
    2: 1.6px,
    // 3: 3px,
    // 4: 4px,
    // 5: 5px
);






/* =================== import bootstrap to set changes ==================== */
@import "../node_modules/bootstrap/scss/bootstrap";
